<div class="sunDiv">
  <svg class="sunSvg">
<!--    <rect id="sunRect3" class="svgAnimation" x="70" y="-130" width="260" height="260" rx="40" ry="100" [attr.fill]="sunColor[2]"/>-->
<!--    <rect id="sunRect2" class="svgAnimation" x="70" y="-130" width="260" height="260" rx="40" ry="100" [attr.fill]="sunColor[2]"/>-->
<!--    <rect id="sunRect1" class="svgAnimation" x="70" y="-130" width="260" height="260" rx="40" ry="100" [attr.fill]="sunColor[2]"/>-->
    <circle id="sunCircle3" class="svgAnimation" cx="200" cy="0" r="140" [attr.fill]="sunColor[2]"/>
    <circle id="sunCircle2" class="svgAnimation" cx="200" cy="0" r="130" [attr.fill]="sunColor[1]"/>
    <circle id="sunCircle1" class="svgAnimation" cx="200" cy="0" r="120" [attr.fill]="sunColor[0]"/>
  </svg>
</div>