<nz-card [nzBodyStyle]="{backgroundColor: minorColor}" [nzExtra]="extraTemplate"
         [style]="{border: '1px solid ' + getFontColor(minorColor)}"
         nzSize="small"
         nzTitle="联系作者"
>
    <div nz-row nzGutter="[0, 8]">
        <div nz-col nzSpan="12">
            <button (click)="suggestBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button nzShape="round" nzType="text"
            >
                <span nz-icon nzTheme="outline" nzType="info-circle"></span>
                {{"功能建议"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="issueBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button nzShape="round" nzType="text"
            >
                <span nz-icon nzTheme="outline" nzType="exclamation-circle"></span>
                {{"问题反馈"}}
            </button>
        </div>
    </div>
</nz-card>

<ng-template #extraTemplate>
    <span [style]="{color: getFontColor(minorColor)}" nz-icon nzType="mail" nzTheme="outline"></span>
</ng-template>