<nz-space>
    <button (click)="homeBtnOnClick('github')" (mouseout)="btnMouseOut($event)"
            (mouseover)="btnMouseOver($event)"
            *nzSpaceItem [style.color]="getFontColor(minorColor)"
            class="popupFont" nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
    >
        <span nz-icon nzTheme="outline" nzType="github"></span>
        {{"GitHub"}}
    </button>
    <button (click)="homeBtnOnClick('gitlab')" (mouseout)="btnMouseOut($event)"
            (mouseover)="btnMouseOver($event)"
            *nzSpaceItem [style.color]="getFontColor(minorColor)"
            class="popupFont" nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
    >
        <span nz-icon nzType="gitlab" nzTheme="outline"></span>
        {{"GitLab"}}
    </button>
    <button (click)="blogBtnOnClick()" (mouseout)="btnMouseOut($event)"
            (mouseover)="btnMouseOver($event)"
            *nzSpaceItem [style.color]="getFontColor(minorColor)"
            class="popupFont" nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
    >
        <span nz-icon nzType="notification" nzTheme="outline"></span>
        {{"博客"}}
    </button>
    <button (click)="supportBtnOnClick()" (mouseout)="btnMouseOut($event)"
            (mouseover)="btnMouseOver($event)"
            *nzSpaceItem [style.color]="getFontColor(minorColor)"
            class="popupFont" nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
    >
        <span nz-icon nzTheme="outline" nzType="gift"></span>
        {{"支持"}}
    </button>
</nz-space>