<nz-layout [style]="{backgroundColor: minorColor}" class="popupLayout">
    <nz-header [style]="{backgroundColor: minorColor}" class="popupHeader">
        <popupHeader-component
            [majorColor]="majorColor"
            [minorColor]="minorColor"
            [preferenceData]="preferenceData"
        />
    </nz-header>
    <nz-content [style]="{backgroundColor: minorColor}" class="popupContent">
        <nz-list>
            <nz-list-item [style]="{borderBlockEndColor: getFontColor(minorColor)}" class="alignCenter">
                <popupStatus-component
                    [majorColor]="majorColor"
                    [minorColor]="minorColor"
                    [preferenceData]="preferenceData"
                />
            </nz-list-item>
            <nz-list-item class="alignCenter">
                <nz-space>
                    <popupObject-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                    />
                    <popupPoem-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                        [preferenceData]="preferenceData"
                    />
                    <popupWindow-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                    />
                </nz-space>
            </nz-list-item>
        </nz-list>
    </nz-content>
    <nz-footer [style]="{backgroundColor: minorColor}" class="popupFooter">
        <popupFooter-component
            [majorColor]="majorColor"
            [minorColor]="minorColor"
            [preferenceData]="preferenceData"
        />
    </nz-footer>
</nz-layout>