<button (click)="greetBtnOnClick()" (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
        [nzPopoverContent]="popoverContent" [nzPopoverTitle]="popoverTitle" [style.color]="fontColor"
        class="buttonFont" nz-button nz-popover
        nzPopoverPlacement="bottomLeft" nzShape="round" nzSize="large" nzType="text"
>
    <span [class]="greetIcon">&nbsp;</span>
    {{(device === "iPhone" || device === "Android") ? getGreetContent() : greetContent}}
</button>
<ng-template #popoverTitle>
    <span [style.color]="fontColor" nz-typography>{{calendar}}</span>
</ng-template>
<ng-template #popoverContent>
    <nz-space nzAlign="start" nzDirection="vertical">
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span nz-icon nzTheme="outline" nzType="check-circle"></span>
            {{"宜：" + suit}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span nz-icon nzTheme="outline" nzType="close-circle"></span>
            {{"忌：" + avoid}}
        </button>
    </nz-space>
</ng-template>
