<nz-card [nzBodyStyle]="{backgroundColor: minorColor}" [nzExtra]="extraTemplate"
         [style]="{border: '1px solid ' + getFontColor(minorColor)}"
         nzSize="small"
         nzTitle="友情链接"
>
    <div [nzGutter]="[0, 8]" nz-row>
        <div nz-col nzSpan="12">
            <button (click)="baiduBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button nzShape="round" nzType="text"
            >
                <nz-avatar [nzSize]="16" nzShape="square" nzSrc="https://www.baidu.com/favicon.ico"></nz-avatar>
                {{"&nbsp;&nbsp;百度汉语"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="sougouBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button nzShape="round" nzType="text"
            >
                <nz-avatar [nzSize]="16" nzShape="square" nzSrc="https://www.sogou.com/favicon.ico"></nz-avatar>
                {{"&nbsp;&nbsp;搜狗汉语"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="soBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button nzShape="round" nzType="text"
            >
                <nz-avatar [nzSize]="16" nzShape="square" nzSrc="https://www.so.com/favicon.ico"></nz-avatar>
                {{"&nbsp;&nbsp;360国学"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="jetBrainsBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button nzShape="round" nzType="text"
            >
                <nz-avatar [nzSize]="16" nzShape="square" nzSrc="https://www.jetbrains.com/favicon.ico"></nz-avatar>
                {{"&nbsp;&nbsp;JetBrains"}}
            </button>
        </div>
    </div>
</nz-card>

<ng-template #extraTemplate>
    <span [style]="{color: getFontColor(minorColor)}" nz-icon nzTheme="outline" nzType="link"></span>
</ng-template>