<nz-card [nzBodyStyle]="{backgroundColor: minorColor}" [nzExtra]="extraTemplate"
         [style]="{border: '1px solid ' + getFontColor(minorColor)}"
         nzSize="small"
         nzTitle="友情链接"
>
    <div [nzGutter]="[0, 8]" nz-row>
        <div nz-col nzSpan="12">
            <button (click)="baiduBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
            >
                <span nz-icon>
                    <span nz-icon nzType="read" nzTheme="outline"></span>
                </span>
                {{"百度汉语"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="sougouBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
            >
                <span nz-icon>
                    <span nz-icon nzType="read" nzTheme="outline"></span>
                </span>
                {{"搜狗汉语"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="soBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
            >
                <span nz-icon>
                    <span nz-icon nzType="read" nzTheme="outline"></span>
                </span>
                {{"360国学"}}
            </button>
        </div>
        <div nz-col nzSpan="12">
            <button (click)="jetBrainsBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="poemFont"
                    nz-button [nzShape]="preferenceData.buttonShape" nzType="text"
            >
                <span nz-icon>
                    <span nz-icon nzType="code" nzTheme="outline"></span>
                </span>
                {{"JetBrains"}}
            </button>
        </div>
    </div>
</nz-card>

<ng-template #extraTemplate>
    <span [style]="{color: getFontColor(minorColor)}" nz-icon nzTheme="outline" nzType="link"></span>
</ng-template>