<button (click)="showDrawerBtnOnClick()" [nzShape]="buttonShape"
        [nzTooltipColor]="minorColor"
        [style]="{color: getFontColor(minorColor), backgroundColor: minorColor}" class="componentTheme poemFont" nz-button
        nz-tooltip
        nzSize="large" nzTooltipPlacement="bottomRight" nzTooltipTitle="菜单栏"
        nzType="text"
>
    <span nz-icon nzTheme="outline" nzType="menu"></span>
</button>

<nz-drawer
    (nzOnClose)="drawerOnClose()"
    [nzBodyStyle]="{backgroundColor: minorColor}"
    [nzFooter]="drawerFooter"
    [nzHeight]="500"
    [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
    [nzPlacement]="drawerPosition"
    [nzTitle]="drawerHeader"
    [nzVisible]="displayDrawer"
    [nzWidth]="400"
    nzCloseIcon=null
    nzSize="default"
>
    <ng-container *nzDrawerContent>
        <nz-space id="drawerContent" nzDirection="vertical" nzSize="large">
            <menuPreference-component
                (getPreferenceData)="getMenuPreferenceData($event)"
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
            />
            <menuInfo-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
                [preferenceData]="preferenceData"
            />
            <menuHelp-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
                [preferenceData]="preferenceData"
            />
            <menuEmail-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
                [preferenceData]="preferenceData"
            />
            <menuProducts-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
                [preferenceData]="preferenceData"
            />
            <menuToTop-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
                [preferenceData]="preferenceData"
            />
        </nz-space>
    </ng-container>
</nz-drawer>
<ng-template #drawerHeader>
    <menuHeader-component
        [majorColor]="majorColor"
        [minorColor]="minorColor"
        [preferenceData]="preferenceData"
    />
</ng-template>
<ng-template #drawerFooter>
    <div nz-row nzAlign="middle" nzJustify="center">
        <menuFooter-component
            [majorColor]="majorColor"
            [minorColor]="minorColor"
            [preferenceData]="preferenceData"
        />
    </div>
</ng-template>