/*TODO: 字体大小变量*/

.poem-font {
    font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#poemDiv, #poemContent, #poemAuthor {
    letter-spacing: 5px;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    text-overflow:ellipsis;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
    .poem-font {
        font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    /* 中国诗词 */
    #poemDiv, #poemContent, #poemAuthor {
        writing-mode: vertical-lr;
        line-height: 20px;
        height: inherit;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    /* 隐藏部分元素 */
    #poemAuthor, #poemDivide {
        display: none;
    }
}