<button (click)="showDrawerBtnOnClick()" [nzTooltipColor]="minorColor" [style]="{cursor: 'default', color: getFontColor(minorColor), backgroundColor: minorColor}"
        class="componentTheme poemFont" nz-button nz-tooltip
        nzShape="circle"
        nzSize="large" nzTooltipPlacement="bottomRight" nzTooltipTitle="菜单栏"
        nzType="text"
>
    <span nz-icon nzTheme="outline" nzType="more"></span>
</button>

<nz-drawer
    (nzOnClose)="drawerOnClose()"
    [nzBodyStyle]="{backgroundColor: minorColor}"
    [nzFooter]="drawerFooter"
    [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
    [nzVisible]="displayDrawer"
    nzCloseIcon=null
    nzPlacement="right"
    nzSize="default"
    nzTitle="菜单栏"
>
    <ng-container *nzDrawerContent>
        <nz-space nzDirection="vertical" nzSize="large">
            <preferenceFunction-component
                (getPreferenceFunctionData)="getPreferenceFunctionData($event)"
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
            />
            <preferenceLink-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
            />
            <preferenceInfo-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
            />
            <preferenceEmail-component
                *nzSpaceItem
                [majorColor]="majorColor"
                [minorColor]="minorColor"
            />
        </nz-space>
    </ng-container>
</nz-drawer>
<ng-template #drawerFooter>
    <div nz-row nzAlign="middle" nzJustify="center">
        <preferenceFooter-component
            [majorColor]="majorColor"
            [minorColor]="minorColor"
        />
    </div>
</ng-template>