<div nz-row nzAlign="middle" nzJustify="center">
    <nz-space nzDirection="vertical">
        <div *nzSpaceItem nz-col nzSpan="24">
            <button (click)="poemContentBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="popupFont"
                    nz-button nzShape="round" nzType="text"
            >
                {{poemContent.length < poemMaxSize ? poemContent : poemContent.substring(0, poemMaxSize) + "..."}}
            </button>
        </div>
        <div *nzSpaceItem nz-col nzSpan="24">
            <button (click)="poemAuthorBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)"
                    [style.color]="getFontColor(minorColor)" class="popupFont"
                    nz-button nzShape="round" nzType="text"
            >
                {{poemAuthorDetails.length < poemMaxSize ? poemAuthorDetails : poemAuthorDetails.substring(0, poemMaxSize) + "..."}}
            </button>
        </div>
    </nz-space>
</div>