/* 中国窗体容器 */
#chinaWindowDiv {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right:0;
    overflow: hidden;
}

/* 中国窗体图标 */
#chinaWindowIcon {
    font-size: 600px;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
    /* 中国窗体容器 */
    #chinaWindowDiv {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        right:0;
        overflow: hidden;
        font-size: 300px;
    }

    /* 中国窗体图标 */
    #chinaWindowIcon {
        font-size: 300px;
    }
}

/*移动端横屏样式*/
@media screen and (max-width: 1000px) and (orientation:landscape) {
    /* 中国窗体容器 */
    #chinaWindowDiv {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        right:0;
        overflow: hidden;
    }

    /* 中国窗体图标 */
    #chinaWindowIcon {
        font-size: 300px;
    }
}