<div nz-row nzJustify="center" [style]="{display: display}">
    <div (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style]="{padding: '5px 10px', borderRadius: '8px', maxWidth: 'max-content'}" class="zIndexHigh"
         id="clockDiv"
         nz-col nzSpan="24">
        <nz-space id="clock" nzAlign="center">
            <span *nzSpaceItem [style]="{color: minorColor}" class="textShadow clockText poemFont" nz-typography>
                {{currentTime}}
            </span>
            <nz-space *nzSpaceItem nzAlign="center" nzDirection="vertical">
                <span *nzSpaceItem [style]="{color: minorColor}" class="textShadow dateText poemFont" nz-typography>
                    {{currentYear}}
                </span>
                <span *nzSpaceItem [style]="{color: minorColor}" class="textShadow dateText poemFont" nz-typography>
                    {{currentDate}}
                </span>
            </nz-space>
        </nz-space>
    </div>
</div>