<button [nzPopoverContent]="popoverContent" [nzPopoverOverlayStyle]="{width: '600px'}"
        [nzPopoverTitle]="popoverTitle"
        [nzShape]="preferenceData.buttonShape"
        [style]="{display: display, cursor: 'default', color: getFontColor(minorColor), backgroundColor: minorColor}"
        class="componentTheme poemFont"
        nz-button nz-popover nzPopoverPlacement="bottomRight" nzSize="large"
        nzType="text"
>
    <span nz-icon nzTheme="outline" nzType="calendar"></span>
    {{dailyList.length + " 个"}}
</button>
<nz-modal (nzOnCancel)="modalCancelBtnOnClick()" (nzOnOk)="modalOkBtnOnClick()" [(nzVisible)]="displayModal"
          [nzBodyStyle]="{backgroundColor: minorColor}"
          [nzClosable]="false" [nzContent]="modalContent"
          [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
          [nzTitle]="modalTitle"
          nzCentered
>
    <ng-template #modalTitle>
        <div nz-row nzAlign="middle">
            <div nz-col nzSpan="12">
                <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
                    {{"添加倒数日 " + dailyList.length + ' / ' + dailyMaxSize}}
                </span>
            </div>
            <div nz-col nzSpan="12" class="alignRight">
                <span nz-icon nzTheme="outline" nzType="calendar"></span>
            </div>
        </div>
    </ng-template>
    <ng-template #modalContent>
        <form [nzNoColon]="true" nz-form>
            <nz-form-item>
                <nz-form-label>倒数标题</nz-form-label>
                <nz-form-control nzErrorTip="表单不能为空">
                    <input [maxLength]="10" class="poemFont" name="dailyInput" [(ngModel)]="inputValue" nz-input
                           placeholder="请输入标题，字数不能超过10个"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>倒数日期</nz-form-label>
                <nz-form-control nzErrorTip="表单不能为空">
                    <nz-date-picker name="dailyDatePicker"
                                    [nzDisabledDate]="disabledDate"
                                    (nzOnOpenChange)="datePickerOnOpenChange($event)"
                                    [(ngModel)]="datePickerValue" [nzAllowClear]="false"
                                    class="poemFont" [nzDropdownClassName]="'poemFont'" [style.width]="'100%'">
                    </nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>循环周期</nz-form-label>
                <nz-form-control [nzExtra]="'倒数日期为29、30、31日时，循环周期不得选择每月、每年'">
                    <nz-select (ngModelChange)="selectOnChange($event)" [nzDropdownStyle]="{fontFamily: 'Times New Roman, cursive, serif'}"
                               [nzOptions]="[
                                   {value: 'noLoop', label: '不循环'},
                                   {value: 'everyWeek', label: '每周'},
                                   {value: 'everyMonth', label: '每月（29、30、31日不生效）', disabled: dailySelectDisabled},
                                   {value: 'everyYear', label: '每年（29、30、31日不生效）', disabled: dailySelectDisabled}
                               ]"
                               class="poemFont" name="dailySelect"
                               ngModel="noLoop"
                    >
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
</nz-modal>

<ng-template #popoverTitle>
    <div nz-row nzAlign="middle">
        <div nz-col nzSpan="8">
      <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
        {{"倒数日 " + dailyList.length + " / " + dailyMaxSize}}
      </span>
        </div>
        <div class="alignRight" nz-col nzSpan="16">
            <nz-space nzAlign="center">
                <nz-switch *nzSpaceItem
                           (ngModelChange)="notificationSwitchOnChange($event)"
                           [ngModel]="notification" id="dailyNotificationSwitch"
                           class="poemFont" nzCheckedChildren="已提醒"
                           nzUnCheckedChildren="不提醒"></nz-switch>
                <button (click)="showAddModalBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                        (mouseover)="btnMouseOver(majorColor, $event)"
                        *nzSpaceItem
                        [nzShape]="preferenceData.buttonShape"
                        [style]="{color: getFontColor(minorColor)}"
                        class="poemFont"
                        nz-button nzType="text"
                >
                    <span nz-icon nzTheme="outline" nzType="plus"></span>
                    {{"添加倒数日"}}
                </button>
                <button (click)="removeAllBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                        (mouseover)="btnMouseOver(majorColor, $event)"
                        *nzSpaceItem
                        [nzShape]="preferenceData.buttonShape"
                        [style]="{color: getFontColor(minorColor)}"
                        class="poemFont"
                        nz-button nzType="text"
                >
                    <span nz-icon nzTheme="outline" nzType="delete"></span>
                    {{"全部删除"}}
                </button>
            </nz-space>
        </div>
    </div>
</ng-template>
<ng-template #popoverContent>
    <nz-list>
        <nz-list-empty [style]="{display: (dailyList.length > 0 ? 'none' : 'block')}">
            <nz-empty nzNotFoundImage="simple"></nz-empty>
        </nz-list-empty>
        <nz-list-item *ngFor="let item of dailyList">
            <ul nz-list-item-actions>
                <nz-list-item-action>
                    <button (click)="removeBtnOnClick(item)" (mouseout)="btnMouseOut(minorColor, $event)"
                            (mouseover)="btnMouseOver(majorColor, $event)"
                            [nzShape]="this.preferenceData.buttonShape === 'round' ? 'circle' : null"
                            [style]="{color: getFontColor(minorColor)}"
                            class="poemFont"
                            nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="delete"></span>
                    </button>
                </nz-list-item-action>
            </ul>
            <div [style.width]="'100%'" nz-row>
                <div nz-col nzSpan=9>
                    <button (mouseout)="btnMouseOut(minorColor, $event)" (mouseover)="btnMouseOver(majorColor, $event)"
                            [nzShape]="preferenceData.buttonShape"
                            [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                            class="poemFont"
                            nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="calendar"></span>
                        {{item.title}}
                    </button>
                </div>
                <div nz-col nzSpan=15>
                    <button (mouseout)="btnMouseOut(minorColor, $event)" (mouseover)="btnMouseOver(majorColor, $event)"
                            [nzShape]="preferenceData.buttonShape"
                            [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                            class="poemFont"
                            nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="clock-circle"></span>
                        {{
                            getTimeDetails(getDate(item.selectedTimeStamp)).showDate4 + " ｜ " +
                            getDailyDescription(item.selectedTimeStamp) +
                            (isEmpty(item.loop) ? "" : " · " + item.loop)
                        }}
                    </button>
                </div>
            </div>
        </nz-list-item>
    </nz-list>
</ng-template>
