<button [nzPopoverContent]="popoverContent" [nzPopoverTitle]="popoverTitle"
        class="componentTheme poemFont" nz-button nz-popover
        [style]="{display: display, cursor: 'default', color: getFontColor(minorColor), backgroundColor: minorColor}"
        nzPopoverPlacement="bottomRight" nzShape="round" nzSize="large" nzType="text"
        [nzPopoverOverlayStyle]="{width: '550px'}"
>
    <span nz-icon nzType="calendar" nzTheme="outline"></span>
    {{dailySize + " 个倒数日"}}
</button>
<nz-modal [nzTitle]="'添加倒数日 ' + dailySize + ' / ' + dailyMaxSize" [nzClosable]="false" nzCentered
          [nzContent]="modalContent"
          [(nzVisible)]="displayModal" (nzOnOk)="modalOkBtnOnClick()" (nzOnCancel)="modalCancelBtnOnClick()"
          [nzBodyStyle]="{backgroundColor: minorColor}"
          [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
>
  <ng-template #modalContent>
    <form nz-form [nzNoColon]="true">
      <nz-form-item>
        <nz-form-label>倒数标题</nz-form-label>
        <nz-form-control nzErrorTip="表单不能为空">
          <input nz-input class="poemFont" placeholder="请输入标题，字数不能超过10个" id="dailyInput" [maxLength]="10"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>倒数日期</nz-form-label>
        <nz-form-control nzErrorTip="表单不能为空">
          <nz-date-picker class="poemFont" [nzDropdownClassName]="'poemFont'" [nzId]="'dailyDatePicker'" [nzAllowClear]="false"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>

<ng-template #popoverTitle>
  <div nz-row nzAlign="middle">
    <div nz-col nzSpan="10">
      <span class="poemFont" [style]="{color: getFontColor(minorColor)}" nz-typography>
        {{"倒数日 " + dailySize + " / " + dailyMaxSize}}
      </span>
    </div>
    <div nz-col nzSpan="14" class="alignRight">
      <nz-space>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" *nzSpaceItem
                (click)="showAddModalBtnOnClick()"
                class="poemFont"
                [style]="{color: getFontColor(minorColor)}"
                nz-button
                nzShape="round" nzType="text"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          {{"添加倒数日"}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                *nzSpaceItem
                (click)="removeAllBtnOnClick()"
                class="poemFont"
                [style]="{color: getFontColor(minorColor)}"
                nz-button
                nzShape="round" nzType="text"
        >
          <span nz-icon nzType="delete" nzTheme="outline"></span>
          {{"全部删除"}}
        </button>
      </nz-space>
    </div>
  </div>
</ng-template>
<ng-template #popoverContent>
  <nz-empty nzNotFoundImage="simple" [style]="{display: (listItems.length > 0 ? 'none' : 'block')}"></nz-empty>
  <nz-list>
    <nz-list-item *ngFor="let item of listItems">
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                  (click)="removeBtnOnClick(item)"
                  class="poemFont"
                  [style]="{color: getFontColor(minorColor)}"
                  nz-button
                  nzShape="circle" nzType="text"
          >
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </nz-list-item-action>
      </ul>
      <div nz-row [style.width]="'100%'">
        <div nz-col nzSpan=10>
          <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                  class="poemFont"
                  [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                  nz-button
                  nzShape="round" nzType="text"
          >
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            {{item.title}}
          </button>
        </div>
        <div nz-col nzSpan=14>
          <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                  class="poemFont"
                  [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                  nz-button
                  nzShape="round" nzType="text"
          >
            <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
            {{getTimeDetails(getDate(item.selectedTimeStamp)).showDate4 + "｜" + getDailyDescription(item.selectedTimeStamp)}}
          </button>
        </div>
      </div>
      </nz-list-item>
  </nz-list>
</ng-template>
