<div class="waveDiv zIndexLow">
    <svg class="waveSvg" preserveAspectRatio="none" viewBox="0 24 150 24">
        <defs>
            <path d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" id="wave"/>
        </defs>
        <g>
            <use [attr.fill]="waveColors[0]" class="wave" x="50" xlink:href="#wave" y="0"></use>
            <use [attr.fill]="waveColors[1]" class="wave" x="50" xlink:href="#wave" y="2"></use>
            <use [attr.fill]="waveColors[2]" class="wave" x="50" xlink:href="#wave" y="4"></use>
        </g>
    </svg>
</div>
