<nz-card [nzBodyStyle]="{backgroundColor: minorColor}" [nzExtra]="extraTemplate"
         [style]="{border: '1px solid ' + getFontColor(minorColor)}"
         nzSize="small"
         nzTitle="功能设置"
>
    <form [nzNoColon]="true" nz-form>
        <nz-form-item>
            <nz-form-label>搜索引擎</nz-form-label>
            <nz-form-control>
                <nz-radio-group (ngModelChange)="searchEngineRadioOnChange($event)" [nzDisabled]="formDisabled"
                                [(ngModel)]="preferenceData.searchEngine"
                                [style]="{width: '100%'}"
                                name="searchEngine">
                    <div nz-row>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="bing" id="bing">必应</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="google" id="google">谷歌</label></div>
                    </div>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>按钮形状</nz-form-label>
            <nz-form-control>
                <nz-radio-group (ngModelChange)="buttonShapeRadioOnChange($event)" [nzDisabled]="formDisabled"
                                [(ngModel)]="preferenceData.buttonShape"
                                [style]="{width: '100%'}"
                                name="buttonShape">
                    <div nz-row>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="round" id="round">圆形</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="default" id="default">方形</label></div>
                    </div>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>诗词主题</nz-form-label>
            <nz-form-control>
                <nz-radio-group (ngModelChange)="poemTopicsRadioOnChange($event)" [nzDisabled]="(preferenceData.autoTopic || formDisabled)"
                                [(ngModel)]="preferenceData.poemTopic"
                                [style]="{width: '100%'}"
                                name="poemTopic">
                    <div nz-row [nzGutter]="[0, 8]">
                        <div nz-col nzSpan="12"><label nz-radio nzValue="all" id="all">随机</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="shuqing" id="shuqing">抒情</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="siji" id="siji">四季</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="shanshui" id="shanshui">山水</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="tianqi" id="tianqi">天气</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="renwu" id="renwu">人物</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="rensheng" id="rensheng">人生</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="shenghuo" id="shenghuo">生活</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="jieri" id="jieri">节日</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="dongwu" id="dongwu">动物</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="zhiwu" id="zhiwu">植物</label></div>
                        <div nz-col nzSpan="12"><label nz-radio nzValue="shiwu" id="shiwu">食物</label></div>
                    </div>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>智能主题</nz-form-label>
            <nz-form-control [nzExtra]="preferenceData.autoTopic ? '已禁用诗词主题与部分切换间隔' : ''">
                <nz-switch (ngModelChange)="autoTopicSwitchOnChange($event)" [nzDisabled]="formDisabled"
                           [ngModel]="preferenceData.autoTopic" id="autoTopicSwitch"
                           class="poemFont" name="autoTopic" nzCheckedChildren="已开启"
                           nzUnCheckedChildren="已关闭"></nz-switch>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>切换间隔</nz-form-label>
            <nz-form-control [nzExtra]="'上次切换：' + lastPoemRequestTime">
                <nz-select (ngModelChange)="changePoemTimeOnChange($event)" [ngModel]="preferenceData.changePoemTime" name="changePoemTime"
                           class="poemFont" [style]="{width: '170px'}" [nzDisabled]="formDisabled" [nzOptions]="[
                               {value: '900000', label: '每隔 15 分钟', disabled: preferenceData.autoTopic},
                               {value: '1800000', label: '每隔 30 分钟', disabled: preferenceData.autoTopic},
                               {value: '3600000', label: '每隔 1 小时'},
                               {value: '21600000', label: '每隔 6 小时'},
                               {value: '43200000', label: '每隔 12 小时'},
                               {value: '86400000', label: '每隔 1 天'},
                           ]"
                />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>极简模式</nz-form-label>
            <nz-form-control>
                <nz-switch (ngModelChange)="simpleModeSwitchOnChange($event)" [nzDisabled]="formDisabled"
                           [ngModel]="preferenceData.simpleMode" id="simpleModeSwitch"
                           class="poemFont" name="simpleMode" nzCheckedChildren="已开启"
                           nzUnCheckedChildren="已关闭"></nz-switch>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>数据管理</nz-form-label>
            <nz-form-control>
                <nz-space>
                    <button (click)=" importDataBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                            (mouseover)="btnMouseOver(majorColor, $event)" *nzSpaceItem
                            [nzShape]="preferenceData.buttonShape" [style.color]="getFontColor(minorColor)"
                            class="poemFont" nz-button nzType="text"
                    >
                        <span nz-icon nzType="import" nzTheme="outline"></span>
                        {{"导入数据"}}
                    </button>
                    <button (click)="exportDataBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                            (mouseover)="btnMouseOver(majorColor, $event)" *nzSpaceItem
                            [nzShape]="preferenceData.buttonShape" [style.color]="getFontColor(minorColor)"
                            class="poemFont" nz-button nzType="text"
                    >
                        <span nz-icon nzType="export" nzTheme="outline"></span>
                        {{"导出数据"}}
                    </button>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>危险设置</nz-form-label>
            <nz-form-control nzExtra="出现异常时可尝试重置设置或插件">
                <nz-space>
                    <button (click)=" resetPreferenceBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                            (mouseover)="btnMouseOver(majorColor, $event)" *nzSpaceItem
                            [nzShape]="preferenceData.buttonShape" [style.color]="getFontColor(minorColor)"
                            class="poemFont" nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="redo"></span>
                        {{"重置设置"}}
                    </button>
                    <button (click)="clearStorageBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                            (mouseover)="btnMouseOver(majorColor, $event)" *nzSpaceItem
                            [nzShape]="preferenceData.buttonShape" [style.color]="getFontColor(minorColor)"
                            class="poemFont" nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="redo"></span>
                        {{"重置插件"}}
                    </button>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
<nz-modal (nzOnCancel)="resetPreferenceCancelBtnOnClick()" (nzOnOk)="resetPreferenceOkBtnOnClick()" [(nzVisible)]="displayResetPreferenceModal"
          [nzBodyStyle]="{backgroundColor: minorColor}"
          [nzClosable]="false" [nzContent]="modalContent"
          [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
          [nzTitle]="'确定重置设置?'"
          nzCentered
>
    <ng-template #modalContent>
        <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
            {{"注意：所有设置项将被重置为默认值"}}
        </span>
    </ng-template>
</nz-modal>
<nz-modal (nzOnCancel)="clearStorageCancelBtnOnClick()" (nzOnOk)="clearStorageOkBtnOnClick()" [(nzVisible)]="displayClearStorageModal"
          [nzBodyStyle]="{backgroundColor: minorColor}"
          [nzClosable]="false" [nzContent]="modalContent"
          [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
          [nzTitle]="'确定重置插件?'"
          nzCentered
>
    <ng-template #modalContent>
        <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
            {{"注意：所有设置项将被重置为默认值，所有数据将被清空"}}
        </span>
    </ng-template>
</nz-modal>

<ng-template #extraTemplate>
    <span [style]="{color: getFontColor(minorColor)}" nz-icon nzTheme="outline" nzType="setting"></span>
</ng-template>