<div nz-row nzAlign="middle">
    <div nz-col nzSpan="12">
        <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
            {{"菜单栏"}}
        </span>
    </div>
    <div [style]="{textAlign: 'right'}" nz-col nzSpan="12">
        <nz-space>
            <button (click)="blogBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                    (mouseover)="btnMouseOver(majorColor, $event)"
                    *nzSpaceItem [nzShape]="preferenceData.buttonShape"
                    [style.color]="getFontColor(minorColor)" class="poemFont" nz-button nzType="text"
            >
                <span nz-icon nzTheme="outline" nzType="notification"></span>
                {{"博客"}}
            </button>
            <button (click)="supportBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                    (mouseover)="btnMouseOver(majorColor, $event)"
                    *nzSpaceItem [nzShape]="preferenceData.buttonShape"
                    [style.color]="getFontColor(minorColor)" class="poemFont" nz-button nzType="text"
            >
                <span nz-icon nzTheme="outline" nzType="gift"></span>
                {{"捐助"}}
            </button>
        </nz-space>
    </div>
</div>