<div nz-row nzAlign="middle">
    <div nz-col nzSpan="6">
        <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
            {{"菜单栏"}}
        </span>
    </div>
    <div [style]="{textAlign: 'right'}" nz-col nzSpan="18">
        <button (mouseout)="btnMouseOut(minorColor, $event)"
                (mouseover)="btnMouseOver(majorColor, $event)"
                [nzShape]="preferenceData.buttonShape"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}" class="poemFont" nz-button nzType="text"
        >
            <span nz-icon nzTheme="outline" nzType="info-circle"></span>
            {{"版本：V" + currentVersion}}
        </button>
    </div>
</div>
