<button [nzPopoverContent]="popoverContent" [nzPopoverTitle]="popoverTitle"
        class="buttonFont" nz-button nz-popover
        [style]="{cursor: 'default', color: getFontColor(minorColor), backgroundColor: minorColor}"
        nzPopoverPlacement="bottomRight" nzShape="round" nzSize="large" nzType="text"
        [nzPopoverOverlayStyle]="{width: '250px'}"
>
    <span [class]="weatherIcon">&nbsp;&nbsp;</span>
    {{weatherContent}}
</button>
<ng-template #popoverTitle>
    <div nz-row nzAlign="middle">
        <div nz-col nzSpan="10">
            <span class="popoverFont" [style]="{color: getFontColor(minorColor)}" nz-typography>{{"天气信息"}}</span>
        </div>
        <div nz-col nzSpan="14" class="alignRight">
            <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                    (click)="infoBtnOnClick()"
                    class="popoverFont"
                    [style]="{color: getFontColor(minorColor), float: 'right'}"
                    nz-button
                    nzShape="round" nzType="text"
            >
                <span nz-icon nzTheme="outline" nzType="info-circle"></span>
                {{"更多信息"}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #popoverContent>
    <nz-space class="popoverFont" nzAlign="start" nzDirection="vertical">
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                class="popoverFont"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                nz-button
                nzShape="round" nzType="text" *nzSpaceItem
        >
            <span class="bi bi-geo-alt"></span>
            {{"&nbsp;&nbsp;&nbsp;地理位置：" + location}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                class="popoverFont"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                nz-button
                nzShape="round" nzType="text" *nzSpaceItem
        >
            <span class="bi bi-moisture"></span>
            {{"&nbsp;&nbsp;&nbsp;空气湿度：" + humidity}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                class="popoverFont"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                nz-button
                nzShape="round" nzType="text" *nzSpaceItem
        >
            <span class="bi bi-water"></span>
            {{"&nbsp;&nbsp;&nbsp;空气质量：" + pm25}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                class="popoverFont"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                nz-button
                nzShape="round" nzType="text" *nzSpaceItem
        >
            <span class="bi bi-cloud-rain"></span>
            {{"&nbsp;&nbsp;&nbsp;降雨概率：" + rainfall}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                class="popoverFont"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                nz-button
                nzShape="round" nzType="text" *nzSpaceItem
        >
            <span class="bi bi-eye"></span>
            {{"&nbsp;&nbsp;&nbsp;视线距离：" + visibility}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                class="popoverFont"
                [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                nz-button
                nzShape="round" nzType="text" *nzSpaceItem
        >
            <span class="bi bi-wind"></span>
            {{"&nbsp;&nbsp;&nbsp;风速情况：" + this.windInfo}}
        </button>
    </nz-space>
</ng-template>
