<button (click)="weatherBtnOnClick()" (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
        [nzPopoverContent]="popoverContent"
        [nzPopoverTitle]="popoverTitle" [style.color]="fontColor" class="buttonFont"
        nz-button

        nz-popover nzPopoverPlacement="bottomLeft" nzShape="round" nzSize="large"
        nzType="text"
>
    <span [class]="weatherIcon">&nbsp;</span>
    {{weatherContent}}
</button>
<ng-template #popoverTitle>
    <span [style.color]="fontColor" nz-typography>{{location}}</span>
</ng-template>
<ng-template #popoverContent>
    <nz-space class="popoverFont" nzAlign="start" nzDirection="vertical">
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span class="bi bi-moisture"></span>
            {{"&nbsp;空气湿度：" + humidity}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span class="bi bi-water"></span>
            {{"&nbsp;空气质量：" + pm25}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span class="bi bi-cloud-rain"></span>
            {{"&nbsp;降雨概率：" + rainfall}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span class="bi bi-eye"></span>
            {{"&nbsp;视线距离：" + visibility}}
        </button>
        <button (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)" [style.color]="fontColor"
                class="popoverFont"
                nz-button
                nzShape="round" nzType="text"
        >
            <span class="bi bi-wind"></span>
            {{"&nbsp;风速情况：" + this.windInfo}}
        </button>
    </nz-space>
</ng-template>
