<button nz-button nzType="text" nzShape="round" nzSize="large"
        class="buttonFont"
        (click)="weatherBtnOnClick()"
        [style.color]="fontColor"

        nz-popover [nzPopoverTitle]="popoverTitle" [nzPopoverContent]="popoverContent" nzPopoverPlacement="bottomLeft"
        [nzPopoverOverlayStyle]='{backgroundColor: "transparent"}'
>
    <span [class]="weatherIcon">&nbsp;</span>
  {{weatherContent}}
</button>
<ng-template #popoverTitle>
  <span nz-typography [style.color]="fontColor">{{location}}</span>
</ng-template>
<ng-template #popoverContent>
  <nz-space nzDirection="vertical" nzAlign="start" class="popoverFont">
    <div nz-typography [style.color]="fontColor">
      <span class="bi bi-moisture"></span>
      {{"&nbsp;空气湿度：" + humidity}}
    </div>
    <div nz-typography [style.color]="fontColor">
      <span class="bi bi-water"></span>
      {{"&nbsp;空气质量：" + pm25}}
    </div>
    <div nz-typography [style.color]="fontColor">
      <span class="bi bi-cloud-rain"></span>
      {{"&nbsp;降雨概率：" + rainfall}}
    </div>
    <div nz-typography [style.color]="fontColor">
      <span class="bi bi-eye"></span>
      {{"&nbsp;视线距离：" + visibility}}
    </div>
    <div nz-typography [style.color]="fontColor">
      <span class="bi bi-wind"></span>
      {{"&nbsp;风速情况：" + this.windInfo}}
    </div>

<!--    <button nz-button nzType="text" nzShape="round" nzSize="small"-->
<!--            class="popoverFont" [style.color]="fontColor"-->
<!--    >-->
<!--      <span class="bi bi-moisture"></span>-->
<!--      {{"&nbsp;&nbsp;空气湿度：" + humidity}}-->
<!--    </button>-->
<!--    <button nz-button nzType="text" nzShape="round" nzSize="small"-->
<!--            class="popoverFont" [style.color]="fontColor"-->
<!--    >-->
<!--      <span class="bi bi-water"></span>-->
<!--      {{"&nbsp;&nbsp;空气质量：" + pm25}}-->
<!--    </button>-->
<!--    <button nz-button nzType="text" nzShape="round" nzSize="small"-->
<!--            class="popoverFont" [style.color]="fontColor"-->
<!--    >-->
<!--      <span class="bi bi-cloud-rain"></span>-->
<!--      {{"&nbsp;&nbsp;降雨概率：" + rainfall}}-->
<!--    </button>-->
<!--    <button nz-button nzType="text" nzShape="round" nzSize="small"-->
<!--            class="popoverFont" [style.color]="fontColor"-->
<!--    >-->
<!--      <span class="bi bi-eye"></span>-->
<!--      {{"&nbsp;&nbsp;视线距离：" + visibility}}-->
<!--    </button>-->
<!--    <button nz-button nzType="text" nzShape="round" nzSize="small"-->
<!--            class="popoverFont" [style.color]="fontColor"-->
<!--    >-->
<!--      <span class="bi bi-wind"></span>-->
<!--      {{"&nbsp;&nbsp;风速情况：" + windInfo}}-->
<!--    </button>-->
  </nz-space>
</ng-template>
