<div nz-row nzAlign="middle">
    <div nz-col nzSpan="12">
        <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
            {{"菜单栏"}}
        </span>
    </div>
    <div nz-col nzSpan="12" [style]="{textAlign: 'right'}">
        <button (click)="supportBtnOnClick()" (mouseout)="btnMouseOut($event)"
                (mouseover)="btnMouseOver($event)"
                [style.color]="getFontColor(minorColor)"
                class="poemFont" nz-button nzShape="round" nzType="text"
        >
            <span nz-icon nzTheme="outline" nzType="gift"></span>
            {{"支持"}}
        </button>
    </div>
</div>