.poemFont {
    font-family: "Times New Roman", cursive, sans-serif !important;
}

.largeFont {
    font-size: 24px !important;
    line-height: 24px !important;
}

/*水平垂直居中*/
.alignCenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.alignRight {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

/*毛玻璃效果*/
.componentTheme {
    border-width: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
}
