.buttonFont {
    font-family: "Times New Roman", cursive, sans-serif;
    font-size: 25px !important;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popoverFont {
    font-family: "Times New Roman", cursive, sans-serif;
    font-size: 16px !important;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

/*水平垂直居中*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
