/* z轴显示层数 */
.zIndexHigh {
    z-index: 2;
}

.zIndexMiddle {
    z-index: 1;
}

.zIndexLow {
    z-index: 0;
}

.poemFont {
    font-family: "Times New Roman", cursive, serif;
    font-weight: lighter;
}

.largeFont {
    font-size: 24px !important;
    line-height: 24px !important;
}

/*水平垂直居中*/
.alignCenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.alignRight {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

/*毛玻璃效果*/
.componentTheme {
    border-width: 0;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    //box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    //backdrop-filter: blur(10px);
    //-webkit-backdrop-filter: blur(10px);
    overflow: hidden;
}
