<button [nzPopoverContent]="popoverContent" [nzPopoverOverlayStyle]="{width: '550px'}"
        [nzPopoverTitle]="popoverTitle"
        [nzShape]="buttonShape"
        [style]="{display: display, cursor: 'default', color: getFontColor(minorColor), backgroundColor: minorColor}"
        class="componentTheme poemFont"
        nz-button nz-popover nzPopoverPlacement="bottomLeft" nzSize="large"
        nzType="text"
>
    <span nz-icon nzTheme="outline" nzType="search"></span>
</button>

<ng-template #popoverTitle>
    <div nz-row nzAlign="middle">
        <div nz-col nzSpan="24">
            <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
                {{"搜索栏"}}
            </span>
        </div>
    </div>
</ng-template>
<ng-template #popoverContent>
    <nz-input-group [nzPrefix]="inputPrefix" [nzSuffix]="inputSuffix">
        <input (keypress)="onPressEnter($event)" class="poemFont" id="searchInput" nz-input
               placeholder="按下 Enter 键搜索"/>
    </nz-input-group>
</ng-template>

<ng-template #inputPrefix>
    <div nz-row nzAlign="middle">
        <button (click)="changeSearchEngine()" [style]="{
                    backgroundColor: minorColor,
                    color: getFontColor(minorColor),
                }" class="poemFont" nz-button
                nzSize="small"
                nzType="text">
            {{searchEngineName}}
        </button>
        <nz-divider nzType="vertical"></nz-divider>
    </div>
</ng-template>

<ng-template #inputSuffix>
    <span nz-icon nzTheme="outline" nzType="search"></span>
</ng-template>
