* {
  margin: 0;
  margin: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  position:fixed;
  top:0;
}

.content {
  width: 100%;
  position:fixed;
  top:100px;
  bottom : 100px;
}

.footer {
  width: 100%;
  position:fixed;
  bottom: 0;
}

.center {
  text-align: center;
}