<!-- NG-ZORRO -->
<nz-layout>
    <nz-header class="header">
        <div nz-row nzJustify="center">
            <div [nzLg]="{span: 9}" [nzMd]="{span: 0}" [nzSm]="{span: 0}" [nzXXl]="{span: 9}" [nzXl]="{span: 9}"
                 [nzXs]="{span: 0}" nz-col>
                <nz-space>
                    <greet-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                        [preferenceData]="preferenceData"
                    />
                    <weather-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                        [preferenceData]="preferenceData"
                    />
                </nz-space>
            </div>
            <div [nzLg]="{span: 9}" [nzMd]="{span: 0}" [nzSm]="{span: 0}" [nzXXl]="{span: 9}" [nzXl]="{span: 9}"
                 [nzXs]="{span: 0}" nz-col style="text-align: right">
                <nz-space nzAlign="center">
                    <daily-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                        [preferenceData]="preferenceData"
                    />
                    <todo-component
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                        [preferenceData]="preferenceData"
                    />
                    <preference-component
                        (getPreferenceData)="getPreferenceData($event)"
                        *nzSpaceItem
                        [majorColor]="majorColor"
                        [minorColor]="minorColor"
                        [preferenceData]="preferenceData"
                    />
                </nz-space>
            </div>
            <div [nzLg]="{span: 0}" [nzMd]="{span: 22}" [nzSm]="{span: 22}" [nzXXl]="{span: 0}" [nzXl]="{span: 0}"
                 [nzXs]="{span: 22}" nz-col style="text-align: right">
                <preference-component
                    (getPreferenceData)="getPreferenceData($event)"
                    [majorColor]="majorColor"
                    [minorColor]="minorColor"
                    [preferenceData]="preferenceData"
                />
            </div>
        </div>
    </nz-header>
    <nz-content class="content alignCenter">
        <poem-component
            [minorColor]="minorColor"
            [preferenceData]="preferenceData"
        />
    </nz-content>
    <nz-footer class="footer">
        <wave-component [waveColors]="svgColors"/>
    </nz-footer>
</nz-layout>
<sun-component [sunColors]="svgColors"/>

