<button [nzPopoverContent]="popoverContent" [nzPopoverOverlayStyle]="{width: '550px'}"
        [nzPopoverTitle]="popoverTitle"
        [nzShape]="preferenceData.buttonShape"
        [style]="{display: display, cursor: 'default', color: getFontColor(minorColor), backgroundColor: minorColor}"
        class="componentTheme poemFont"
        nz-button nz-popover nzPopoverPlacement="bottomRight" nzSize="large"
        nzType="text"
>
    <span nz-icon nzTheme="outline" nzType="check-square"></span>
    {{todoSize + " 个待办事项"}}
</button>
<nz-modal (nzOnCancel)="modalCancelBtnOnClick()" (nzOnOk)="modalOkBtnOnClick()" [(nzVisible)]="displayModal"
          [nzBodyStyle]="{backgroundColor: minorColor}"
          [nzClosable]="false" [nzContent]="modalContent"
          [nzMaskStyle]="{backdropFilter: 'blur(10px)', WebkitBackdropFilter: 'blur(10px)'}"
          [nzTitle]="'添加待办事项 ' + todoSize + ' / ' + todoMaxSize"
          nzCentered
>
    <ng-template #modalContent>
        <form [nzNoColon]="true" nz-form>
            <nz-form-item>
                <nz-form-label>待办事项</nz-form-label>
                <nz-form-control>
                    <input [maxLength]="10" class="poemFont" id="todoInput" nz-input
                           placeholder="请输入待办内容，字数不能超过10个"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>标签分类</nz-form-label>
                <nz-form-control>
                    <nz-select (ngModelChange)="selectOnChange($event)" [nzDropdownStyle]="{fontFamily: 'Times New Roman, cursive, sans-serif'}"
                               [nzOptions]="[
                               {value: 'work', label: '工作'},
                                {value: 'study', label: '学习'},
                                {value: 'life', label: '生活'}
                               ]"
                               class="poemFont" name="todoSelect"
                               ngModel="work"
                    >
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>优先级别</nz-form-label>
                <nz-form-control>
                    <nz-rate (ngModelChange)="rateOnChange($event)" [ngModel]="'1'" [style.color]="majorColor"
                             name="todoRate"></nz-rate>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
</nz-modal>

<ng-template #popoverTitle>
    <div nz-row nzAlign="middle">
        <div nz-col nzSpan="10">
      <span [style]="{color: getFontColor(minorColor)}" class="poemFont" nz-typography>
        {{"待办事项 " + todoSize + " / " + todoMaxSize}}
      </span>
        </div>
        <div class="alignRight" nz-col nzSpan="14">
            <nz-space>
                <button (click)="showAddModalBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                        (mouseover)="btnMouseOver(majorColor, $event)"
                        *nzSpaceItem
                        [nzShape]="preferenceData.buttonShape"
                        [style]="{color: getFontColor(minorColor)}"
                        class="poemFont"
                        nz-button nzType="text"
                >
                    <span nz-icon nzTheme="outline" nzType="plus"></span>
                    {{"添加待办事项"}}
                </button>
                <button (click)="finishAllBtnOnClick()" (mouseout)="btnMouseOut(minorColor, $event)"
                        (mouseover)="btnMouseOver(majorColor, $event)"
                        *nzSpaceItem
                        [nzShape]="preferenceData.buttonShape"
                        [style]="{color: getFontColor(minorColor)}"
                        class="poemFont"
                        nz-button nzType="text"
                >
                    <span nz-icon nzTheme="outline" nzType="check"></span>
                    {{"全部完成"}}
                </button>
            </nz-space>
        </div>
    </div>
</ng-template>
<ng-template #popoverContent>
    <nz-empty [style]="{display: (listItems.length > 0 ? 'none' : 'block')}" nzNotFoundImage="simple"></nz-empty>
    <nz-list>
        <nz-list-item *ngFor="let item of listItems">
            <ul nz-list-item-actions>
                <nz-list-item-action>
                    <button (click)="finishBtnOnClick(item)" (mouseout)="btnMouseOut(minorColor, $event)"
                            (mouseover)="btnMouseOver(majorColor, $event)"
                            [nzShape]="buttonShape"
                            [style]="{color: getFontColor(minorColor)}"
                            class="poemFont"
                            nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="check"></span>
                    </button>
                </nz-list-item-action>
            </ul>
            <div [style.width]="'100%'" nz-row>
                <div nz-col nzSpan=12>
                    <button (mouseout)="btnMouseOut(minorColor, $event)" (mouseover)="btnMouseOver(majorColor, $event)"
                            [nzShape]="preferenceData.buttonShape"
                            [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                            class="poemFont"
                            nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="check-square"></span>
                        {{item.title}}
                    </button>
                </div>
                <div nz-col nzSpan=12>
                    <button (mouseout)="btnMouseOut(minorColor, $event)" (mouseover)="btnMouseOver(majorColor, $event)"
                            [nzShape]="preferenceData.buttonShape"
                            [style]="{color: getFontColor(minorColor), cursor: 'default'}"
                            class="poemFont"
                            nz-button nzType="text"
                    >
                        <span nz-icon nzTheme="outline" nzType="tag"></span>
                        {{item.tag + "｜" + item.priority}}
                    </button>
                </div>
            </div>
        </nz-list-item>
    </nz-list>
</ng-template>
