<div nz-row nzAlign="middle" nzJustify="center">
    <nz-space nzDirection="vertical" nzAlign="center">
        <div [nzLg]="{span: 24}" [nzMd]="{span: 0}" [nzSm]="{span: 0}" [nzXXl]="{span: 24}" [nzXl]="{span: 24}"
             [nzXs]="{span: 0}"
             nz-col *nzSpaceItem>
            <button (click)="poemContentBtnOnClick()" (mouseout)="btnMouseOut($event)"
                    (mouseover)="btnMouseOver($event)" [style.color]="minorColor"
                    class="poemFont largeFont"
                    nz-button nzShape="round" nzSize="large"
                    nzType="text"
            >
                {{poemContent.length < 30 ? poemContent : poemContent.substring(0, 30) + "..."}}
            </button>
        </div>
        <div [nzLg]="{span: 0}" [nzMd]="{span: 24}" [nzSm]="{span: 24}" [nzXXl]="{span: 0}" [nzXl]="{span: 0}"
             [nzXs]="{span: 24}"
             nz-col>
            <div nz-space nzAlign="center">
                <span [style]="{color: minorColor, fontSize: '24px'}" class="poemFont largeFont vertical" nz-typography>
                    {{poemContent.length < 20 ? poemContent : poemContent.substring(0, 20) + "..."}}
                </span>
            </div>
        </div>
        <div [nzLg]="{span: 24}" [nzMd]="{span: 0}" [nzSm]="{span: 0}" [nzXXl]="{span: 24}" [nzXl]="{span: 24}"
             [nzXs]="{span: 0}"
             nz-col *nzSpaceItem>
            <button (click)="poemAuthorBtnOnClick()" (mouseout)="btnMouseOut($event)" (mouseover)="btnMouseOver($event)"
                    [style.color]="minorColor"
                    class="poemFont largeFont"
                    nz-button nzShape="round" nzSize="large"
                    nzType="text"
            >
                {{poemAuthorDetails.length < 30 ? poemAuthorDetails : poemAuthorDetails.substring(0, 30) + "..."}}
            </button>
        </div>
    </nz-space>
</div>
