/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
  .poemContent {
    //height: calc(100% - 200px)!important;
    //display: flex;
    height: 100% !important;
    writing-mode: vertical-lr;
  }

  .poemContentSpan {
    writing-mode: vertical-lr;
  }
}
