.search-form {
    width: 600px;
    height: 20px;
    padding-top: 20px;
}

.full-width {
    width: 100%;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
    .search-form {
        width: 300px;
    }
}
